version: 2.1

jobs:
  configure_infrastructure:
    docker:
      - image: python:3.7-alpine3.11
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints: ["ed:05:d2:45:2e:17:2a:f6:5f:c4:84:1c:7b:5e:ef:e9"]
      - run:
          name: Install dependencies
          command: |
            apk add --update ansible # install the dependencies needed for your playbook
      - run:
          name: Configure server
          command: |
            ansible-playbook -i inventory.txt myplaybook.yml
workflows:
  my_workflow:
    jobs:
      - configure_infrastructure
